@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(7, 0, 17);
    background-image: url("../media/double-bubble-outline.png");

    width: 100%;

    display: flex;
    flex-direction: column;

    font-family: Poppins;
}

.firstSection{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.secondSection{
    background-color:rgb(153, 217, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h2{
    margin: 30px 0px 60px 0px;
}

.box{
    width: 85%;
    border: solid 1px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.box .smallerBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

.box .circle{
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hotpink;
    border: solid 5px pink;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 540px) {
    .box .circle{
        width: 18%;
    }
}

@media screen and (min-width: 900px) {
    body{
        background-size: 30%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .firstSection, .secondSection{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box{
        display: none;
    }
    
    h2{
        width: 65%;
        height: 200px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        transition: ease-in .2s;
    }

    h2:hover{
        color: red;
        box-shadow: 0 0 10px rgb(255, 159, 175), 0 0 40px rgb(255, 159, 175), 0 0 80px rgb(255, 159, 175);
    }
}