@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(7, 0, 17);
    background-image: url("../media/double-bubble-outline.png");

    width: 100%;

    display: flex;
    flex-direction: column;

    font-family: Poppins;
}

.firstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.secondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

h2{
    margin: 30px 0px 60px 0px;
}

.box{
    width: 85%;
    border: solid 1px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.box .smallerBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: inherit;
}

.box .circle{
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hotpink;
    border: solid 5px pink;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    font-weight: 600;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
}

.activeColor{
    color: gold;
}

.active1{
    transition-delay: 0.5s;
}

.active2{
    transition-delay: 1s;
}

.active3{
    transition-delay: 1.5s;
}

.active4{
    transition-delay: 2s;
}

.active5{
    transition-delay: 2.5s;
}

.active1, .active2, .active3, .active4, .active5{
    transition-duration: 0.5s;
}

@media screen and (min-width: 540px) {
    .box .circle{
        width: 18%;
    }
}

@media screen and (min-width: 900px) {
    body{
        background-size: 30%;
        display: flex;
        flex-direction: row;
    }

    .firstSection, .secondSection{
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-out 1s;
    }

    .box{
        display: none;
        width: 40%;
        padding: 2px;
        margin-bottom: 10px;
    }

    a{
        display: none;
        margin-top: 20px;
        cursor: pointer;
        transition-duration: .2s;
    }

    a:hover{
        background-color: hotpink;
    }
    
    h2{
        width: 65%;
        height: 200px;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        transition: ease-in .2s;
        margin: 10px 0px 10px 0px;
    }

    h2:hover{
        color: red;
        box-shadow: 0 0 10px rgb(255, 159, 175), 0 0 40px rgb(255, 159, 175), 0 0 80px rgb(255, 159, 175);
    }


}